@import '../../styles/propertySets.css';

.title {
  text-align: center;
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (--viewportMedium) {
    flex-direction: column;
  }
}

.step {
  @media (--viewportMedium) {
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {

  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.animation {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
}


.button {
  @apply --marketplaceButtonStylesSecondary;
  border-width: 2px;
  transition-duration: 0.25s;
  animation-delay: 0.8s;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: transparent;
  color:whitesmoke;

  @media (--viewportMedium) {
    width: 260px;
    margin-left: 50px;
  }
}

.button:hover{
color:black;
border-color: whitesmoke;
background: whitesmoke;
text-decoration: none;

}


.button:focus{ 
  @apply --marketplaceButtonStylesSecondary;
  margin-top: 30px;
  margin-bottom: 10px;

  background: transparent;
  

  @media (--viewportMedium) {
    width: 260px;
    margin-left: 50px;

   
  }
}