@import '../../styles/propertySets.css';


.title {
  text-align: left;
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;

  @media (--viewportMedium) {
    flex-direction: column
  }
}

.step {
  @media (--viewportMedium) {
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {

  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.animation {
  animation-name: animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
}


.button {
  @apply --marketplaceButtonStylesSecondary;
  border-width: 2px;
  transition-duration: 0.25s;
  animation-delay: 0.8s;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: transparent;
  color:whitesmoke;

  @media (--viewportMedium) {
    width: 260px;

  }
}

.button:hover{
color:black;
border-color: whitesmoke;
background-color: whitesmoke;
text-decoration: none;

}
.button:focus{ 
  border-width: 2px;
  transition-duration: 0.25s;
  animation-delay: 0.8s;
  margin-bottom: 10px;
  margin-top: 30px;
  border-color: whitesmoke !important;
  background-color: transparent !important;
  color:whitesmoke;


  @media (--viewportMedium) {
    width: 260px;
    margin-left: 0px;
  }
}

.button:focus:hover{ 
color:black;
border-color: whitesmoke !important;
background-color: whitesmoke !important;
text-decoration: none;
}

.imageSvenskVindDesktop{
  margin-top:20px;
  width:120px;
  align-self: left;

  @media (--viewportMedium) {
    display:flex;
    align-self: top;
    width:120px;
    margin-left:0px;
    justify-self:flex-end;
    align-self: flex-end;
    margin-top:-70px;
}
}

.disclaimerSvenskVindDesktop{
  @apply --marketplaceTinyFontStyles;
  margin-top:20px;
  width: 100%;
  align-self: left;
  color: whitesmoke;

  @media (--viewportMedium) {
    display:flex;
    align-self: bottom;
    width: calc(100% - 130px);
    margin-left:0px;
    margin-top:130px;
}
}

