@import '../../styles/customMediaQueries.css';

.root {}

.pageCentering {
  margin: var(--LandingPage_sectionMarginTop) 24px 51px 24px;

  @media (--viewportMedium) {
    max-width: 100%;
    margin: var(--LandingPage_sectionMarginTopMedium) 24px 60px 24px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 0 36px 0 36px;
    margin: var(--LandingPage_sectionMarginTopLarge) auto 93px auto;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 0;
  }
}
  

.someContent {
  max-width: 1056px;
}

.iframeContainer {
  position: relative;
  width: 100%;
  padding-top: 115%; /* Aspect ratio: (1366 / 768) * 100 */
  overflow: hidden;
}

.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow-x: hidden; /* This line will hide the scrollbars */
  margin-top: 3%;
}

.watermarkCover {
    position: absolute;
    bottom: 0; /* Adjust these values to position the cover precisely */
    left: 0;
    width: 100%; /* Set the width and height to cover the watermark */
    height: 30px;
    background-color: rgb(252, 252, 252); /* Or match the background color of the iframe */
    z-index: 10;
  }

  .SectionProfileProgress {
    composes: someContent;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  


  
  
  
  
  

