.root {
}

.select {
  width: 285px;



  color: var(--matterColorAnti);
  border-bottom: none;

  padding-right: 20px;

  @media (--viewportMedium) {
    margin-top: 0px;
    width: 90px;

     

  }

  & > option {
    color: var(--matterColor);
  }
  & > option:disabled {
    
    color: var(--matterColorAnti);
    

}
}
.selectSuccess {
  color: var(--matterColor);
}

.selectError {
}

.switch{
  width: 100px;

}

