@import '../../styles/propertySets.css';

.root {
  /* Layout */
  display: flex;
  flex-direction: column;


  /* Remove link's hover effect */
  &:hover {
    text-decoration: none;
  }
}

.threeToTwoWrapper {
  /* Layout */
  display: block;
  border-radius: 10px;
  height: 225px;
  position: relative;
  transition: var(--transitionStyleButton);
  overflow: hidden;

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowListingCard);
  }
}

/* Firefox doesn't support image aspect ratio inside flexbox */
.aspectWrapper {
  
  padding-bottom: 22.2222%; /* 3:2 Aspect Ratio */
  background-color: #EEF5F3;
  max-width: 100%;

  
}



.info {
  /* Layout */
  display: flex;
  flex-direction: row;
  padding: 16px 0 2px 0;
  
}

.price {
  /* Layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  margin-right: 18px;
}

.priceValue {
  /* Font */
  @apply --marketplaceH3FontStyles;

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.perUnit {
  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColor);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Font */
  margin: 10px;
  padding-top:25px;

  @apply --marketplaceH3FontStyles;
  color: var(--marketplaceColorLight);

  /* Remove default margins from font */

  @media (--viewportMedium) {
    margin-bottom: 0px;
    padding-top:30px;
  }
}


.project {
  @apply --marketplaceTinyFontStyles;
  margin-right: 10px;
  margin-left: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  

  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColorAnti);


  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}

.containerTopHalf{
  
  background: var(--marketplaceColorDark);
  border-radius: 10px 10px 0 0;
  padding-bottom: 5px;

}

.description {
  /* Font */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
  min-height: 45px;
  height: 45px;
  max-width: 100%;

  @apply --marketplaceSmallFontStyles;
  color: var(--matterColor);
  flex-shrink: 3;

  /* Remove default margins from font */
  margin-left:10px;
  margin-top: 10px;
  margin-right:10px;
  margin-bottom: 10px;

  @media (--viewportMedium) {
    margin-bottom: 12px;
    min-height: 45px;
    height: 45px;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2; 

  
  }
}

.longWord {
  /* fallback option */
  word-break: break-all;
  /* use break-word if available */
  word-break: break-word;
  hyphens: auto;
}



.category {
  @apply --marketplaceTinyFontStyles;
  margin-right: 10px;
  margin-left: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  

  /* Font */
  @apply --marketplaceTinyFontStyles;
  color: var(--matterColorAnti);


  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 0px;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.authorContainer{
position: absolute;
top:0px;
right:-15px;



}
.author {
  background: var(--marketplaceColor);
  width:fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align:right;
  margin: 10px;
  text-align: right;
  padding-right:20px;
  padding-left:25px;
  padding-bottom:3px;
  border-radius: 0 0 0 30px;

  /* Font */
  @apply --marketplaceSmallFontStyles;
  color: var(--matterColorBright);

  /* Remove default margins from font */
  margin-top: 0;
  margin-bottom: 5px;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.projectAndCategory{
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left:10px;
  margin-bottom:5px;
  margin-top:-10px;



  @media (--viewportMedium) {
    margin-top: 5px;
  }
}


.icon{
  color: var(--matterColorAnti);
}

.containerTags{
  display: -webkit-inline-box;
  flex-wrap: wrap;
  align-content: flex-end;
  position: relative;
  align-content: flex-end;
  margin-left:10px;
  height: 0px;
  margin-bottom: 20px;

  color: var(--matterColor);
  flex-shrink: 1;

  @media (--viewportMedium) {
    height: 0px;

  }}


  .extraTags {
    @apply --marketplaceTinyFontStyles;
    border-style:solid;
    border-color: var(--matterColorAnti);
     border-width: 0.1px;
     border-radius: 9999px;
    position: relative;
    padding: 5px;
    margin-right: 5px;
    margin-top:10px;
    flex-shrink: 1;
    background-color: var(--matterColorMed);


    @media (min-width: 700px) and (max-width: 1300px) {
      padding:5px;
      margin-right:3px;

      margin-top:5px;



    @media (--viewportMedium) {

    }
  }
}

  .hidden {
    display:none;

  }