@import '../../styles/propertySets.css';

.toggle {
  animation-delay: 0.8s;
 margin-top:12px;
 margin-left:10px;

  @media (--viewportMedium) {
    display: flex;
    width:130%;
    background:  url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='black'/></g></svg>") no-repeat;
    background-position: right 0px top 50%;
    
  }
}


.questionCard {
  @apply --marketplaceH4FontStyles;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  color:black;
  margin-left: 0px;
  margin-right: 0px;
  background: var(--matterColorMediumLight);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.025);
  margin-top: 15px;
  margin-bottom: 0px;
  @media (--viewportMedium) {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;

  }
 
  
}

.questionCard:hover {
  text-decoration: none !important;
  
}

.questionCardOpen{
  @apply --marketplaceH4FontStyles;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: var(--transitionStyleButton);
  color:black;
  background: var(--matterColorAnti);
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0px;
  margin-top: 15px;

  @media (--viewportMedium) {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;


  }

}

.questionCardOpen:hover {
  text-decoration: none !important;
  
}

.buttonOpenText {
  display: flex;
  justify-content: flex-end;
  @apply --marketplaceH4FontStyles;
  align-self: center;

}

.iconExpanderOpen{
  width:25px;
  height: 25px;
  color: var(--matterColorAnti);
}

.iconExpanderClose{
  width:25px;
  height: 25px;
  color: var(--matterColor);
}



.buttonCloseText {
  display: flex;
  justify-content: flex-end;
  @apply --marketplaceH4FontStyles;
  align-self: center;
  
}

.buttonCloseText:hover {
 
 
}


.hidden{
  display:none;
}

.textFormat {
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 5px;

}

.cardText {
max-width: 65%;
@apply --marketplaceH2FontStyles;
}

.contentshow{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.025);
  background-color: var(--matterColorMediumLight);
  padding-left:0px;
  padding-right:0px;
  border-top: 0px;
  border-radius: 0px 0px 10px 10px;
  margin-top: -3%;
  margin-left:0px;
  margin-right: 0px;
  padding-bottom: 1px;
  padding-top:15px;
  margin-bottom: 20px;;
 

  @media (--viewportMedium) {
    padding-left:30px;
    padding-right:30px;
    margin-left:0px;
    margin-right:0px;
    
  }
}

.contentParent {
  height: 0px;
  overflow:hidden;
  transition: height ease 0.3s;

}

.heightLimit{
  transition: height ease 0.3s;

}

.titleText {
 @apply --marketplaceH4FontStyles;
 font-weight:550;
 max-width: 85%;
 padding: 0px;
 margin-top: 20px;
 margin-bottom: 20px;
   /* fallback option */
   word-break: break-all;
   /* use break-word if available */
   word-break: break-word;
   hyphens: auto;


}