@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH2FontStyles;
  margin-bottom: 0;
}

.features {

}

.feature {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  @media (--viewportMedium) {
    margin-bottom: 90px;
    flex-direction: row;
  }
}

.feature:nth-of-type(2n) {
  @media (--viewportMedium) {
    flex-direction: row-reverse;
  }
}

.featureText {
  flex-basis: 40%;
  @media (--viewportMedium) {
    margin-top: 30px;
  }
}

.featureTitle {
  @apply --marketplaceH2FontStyles;
  margin-top: 18px;
  margin-bottom: 6px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 6px;
  }
}

.featureDescription {
  margin-top: 0px;

}

.featureImageRight {
  @media (--viewportMedium) {
    flex-basis: 50%;
    direction: ltr;
    margin-left: 40px;
  }

}

.featureImageLeft {
  @media (--viewportMedium) {
    flex-basis: 50%;
    direction: rtl;
    margin-right: 40px;
  }
}

.image {
  max-width: 100%;
  border-radius: 0;
  @media (--viewportMedium) {
    max-width: 140%;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.videoShowcase {
  height: 400px;
  width: auto;
  position: relative;

}

.iphone {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;

}

.video {
  position: absolute;
  left: 3px;
  height: 100%;
  width: auto;
  padding: 8px;
}

.macbook {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;

}

.videoMacbook {
  position: absolute;
  left: 3px;
  height: auto;
  width: 100%;
  padding: 0 85px;
  padding-top: 45px;

}
