@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}

.steps {
  display: flex;
  flex-direction: column;
  

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  background-color: var(--marketplaceColorDark);
  margin-top:10px;
  margin-bottom:10px;
  padding:15px;

  color:whitesmoke;

  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
    
  }
}

.stepText {
@media (--viewportMedium) {
  margin-left:15px;
  margin-right: 15px;
}
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}


.statusBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.statusCirclePlanning {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--attentionColor);
}

.statusCircleBuilding {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--successColor);}


  .statusCircleRunning {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--marketplaceColor);}
  


.statusLine1 {
  height: 4px;
  width: calc(50% - 60px);
  background-color: var(--attentionColor);
}

.statusLine2 {
  height: 4px;
  width: calc(50% - 60px);
  background-color: var(--successColor);
}

.statusCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.statusText {
  background-color: var(--matterColorNegative);
  padding: 10px;
  max-width: 300px;
}