@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
  color: var(--marketplaceColorDark);

}

.galleryContainer {

  display: flex;
  flex-direction: row;
  overflow: hidden;
  scroll-behavior: smooth;
  max-width: 1128px;

  @media (--viewportMedium) {

  }

  @media (--viewportLarge) {

  }
}

.imageContainer {
  margin-right: 20px;
  margin-top: 20px;

  @media (--viewportLarge) {
    margin-right: 40px;
    margin-top: 40px;
  }
}

.activeContainer {
  composes: imageContainer;
  opacity: 1;
}

.inactiveContainer {
  composes: imageContainer;
  opacity: 0.5;
}

.imageContainer:first-of-type {
  margin-left: 20px;

  @media (--viewportLarge) {
    margin-left: 40px;
  }
}



.image {
  display: block;
  width: 70vw;
  margin-top: 20px;
  object-fit: cover;
  overflow: hidden;

  @media (--viewportSmall) {
  }

  @media (--viewportMedium) {
    margin-top: 40px;
  }

  @media (--viewportLarge) {
    width: 900px;
  }
}

.stepTitle {
  color: var(--marketplaceColorDark);

  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {

  margin-top: 18px;


  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.linkStyle{

}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (--viewportMedium) {
  }
}

.navigation {
  width: 100%;
  max-width: 1128px;

}

.navButton {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--matterColorBright);
  border: none;
  box-shadow: var(--boxShadowFilterButton);
  margin-top: 30%;

  @media (--viewportLarge) {
    margin-top: 350px;
  }
  &:hover {
    background-color: var(--matterColorLight);
  }
  &:active {
    background-color: var(--matterColorNegative);
  }
}

.scrollRight {
  composes: navButton;
  left: 20px;

  @media (--viewportLarge) {
    left: 40px;
  }
}

.scrollLeft {
  composes: navButton;
  right: 20px;
  @media (--viewportLarge) {
    right: 40px;
  }
}

.icon {
  width: 20px;
  height: 20px;
}
