.avatarBase {
  font-family: 'poppins', Helvetica, Arial, sans-serif;
  border-radius: 50%;

  /* Position possible initials to the center of the component */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Colors */
  background-image: linear-gradient(
    -180deg,
    white,
    white
  );
  color: var(--matterColor);

  &:hover {
    text-decoration: none;
  }
}

/* Small Avatar */

.root {
  composes: avatarBase;

  /* Layout */
  width: 40px;
  height: 40px;
}

.initials {

  height: -webkit-fill-available;
  width: -webkit-fill-available;;
  margin:-7px;
  padding: 0px;

  @media (--viewportMedium) {
    margin:-11px;
  }
  }


.defaultAvatar{
  background-image: radial-gradient(at center, rgb(163, 163, 163) 50%, transparent 40%);
height: -webkit-fill-available;
width: -webkit-fill-available;;
padding-right:2px;
padding: 0px;
color: rgb(225, 225, 225);

@media (--viewportMedium) {

}
}

.avatarImage {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* Medium Avatar */

.mediumAvatar {
  composes: avatarBase;

  /* Fixed dimensions */
  width: 60px;
  height: 60px;
}

.mediumAvatar .initials {
  font-size: 20px;
  font-weight: var(--fontWeightSemiBold);
}

/* Large Avatar */

.largeAvatar {
  composes: avatarBase;

  /* Fixed dimensions */
  width: 96px;
  height: 96px;
}

.largeAvatar .initials {
  font-size: 30px;
  font-weight: var(--fontWeightSemiBold);
}

.bannedUserIcon {
  width: 100%;
  height: 100%;
}
