@import '../../styles/propertySets.css';

.root {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 600px;
}

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--marketplaceColorLight);
  text-align: center;

}

.steps {
  display: flex;
  flex-direction: column;


  @media (--viewportMedium) {
    align-items: center;
  }
}

.step {

  @media (--viewportMedium) {
  }
}

.subtitle {
  text-align: center;
  color: var(--marketplaceColorLight);
}

.stepTitle {
  color: var(--marketplaceColorDark);

  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {

  margin-top: 18px;


  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.linkStyle{

}

.secondaryButton {
  @apply --marketplaceButtonStylesSecondary;
  background-color: transparent;
  border-width: 2px;
  color: var(--marketplaceColorLight);
  border-color: var(--marketplaceColorLight);
  transition-duration: 0.25s;

  animation-delay: 0.8s;
  margin-bottom: 10px;

  @media (--viewportMedium) {
    display: block;
    width: 200px;
  }

  @media (--viewportLarge) {
    width: 225px;
  }

  @media (--viewportXLarge) {
    width: 260px;
  }
}

.secondaryButton:hover{
color: var(--marketplaceColorDark);
border-color: var(--marketplaceColorLight);
background-color: var(--marketplaceColorLight);
}
