@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}

.steps {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  

  @media (--viewportMedium) {
    flex-direction: column;
  }
}

.step {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top:10px;
  margin-bottom:10px;
  padding:45px;
  padding-bottom:30px;
  padding-top: 30px;


  @media (--viewportMedium) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-right: 40px;
    
  }
}

.stepText {
@media (--viewportMedium) {
  margin-left:15px;
  margin-right: 15px;
}
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 0px;
  margin-bottom: 18px;
  font-style: italic;

  @media (--viewportMedium) {
    margin-top: 0px;
    margin-bottom: 18px;
    margin-right: 15px;
    margin-left: 0px;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.containerNameAndLogo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top:20px;

  @media (--viewportMedium) {
    align-items: center;
    flex-direction: row;
    width: 100%;
}
}

.fontName{
  font-size: smaller;
  display: flex;
  justify-self: left;
  align-self: left;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  padding-top:20px;

  @media (--viewportMedium) {
    align-items: center;
    flex-direction: row;
    width: 100%;
}
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImage {
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: auto;

  @media (--viewportMedium) {
    width: 150px;
}
}